<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body>
    <nav class="navbar navbar-dark pt-0" data-bs-theme="dark">
        <div class="bg-body-tertiary text-center text-light p-3 container-fluid" data-bs-theme="dark">
        <a class="navbar-brand fs-1" href="/index.html">CookHub 🍽️</a>
            <div class="nav-item me-4">
                <h1>Recetas de la categoria Acompañamientos</h1>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="container-recetas" class="row ">

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src='../../../js/panel/categories/pages.js' type="module"></script>
</body> 
</html>