<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Subscripciones Premium</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link href="../../css/plans.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" href="../../index.html">CookHub 🍽️</a>
        </div>
    </nav>
    <div class="text-center pt-3">
        <h1>Elige tu Plan de Recetas</h1>
    </div>

    <div class="container pt-4 pb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="plan-card">
                    <div class="plan-card-header">
                        <h3>PLAN BÁSICO</h3>
                    </div>
                    <div class="row flex-grow-1 justify-content-center">
                        <p>
                          Acceso a todas las recetas<br>
                          Acceso ilimitado a la base de datos de recetas.
                        </p>
                    </div>
                    <div class="row">
                        <p class="price">$4.990 Mensual</p>
                        <p></p>
                    </div>
                    <div class="row">
                        <button class="btn">Suscribirse Ahora</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan-card">
                    <div class="plan-card-header">
                        <h3>PLAN AVANZADO</h3>
                    </div>
                    <div class="row flex-grow-1 justify-content-center">
                        <p>
                          Acceso a todas las recetas + Recetas exclusivas<br>
                          Incluye todas las características del Plan Básico.<br>
                          Acceso a recetas exclusivas y novedades semanales.<br>
                        </p>
                    </div>
                    <div class="row">
                        <p class="discount pb-2">Precio oferta 20% dcto</p>
                        <p class="price">$7.990 Mensual por 12 meses</p>
                        <p>Cargo fijo normal: <s>$9.990</s></p>
                    </div>
                    <div class="row">
                        <button class="btn">Suscribirse Ahora</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan-card">
                    <div class="plan-card-header">
                        <h3>PLAN PREMIUM</h3>
                    </div>
                    <div class="row flex-grow-1 justify-content-center">
                        <p>
                          Acceso a todas las recetas + Crear tus propias recetas<br>
                          Incluye todas las características del Plan Avanzado.<br>
                          Posibilidad de crear y compartir tus propias recetas.<br>
                        </p>
                    </div>
                    <div class="row">
                        <p class="discount pb-2">Precio oferta 25% dcto</p>
                        <p class="price">$9.990 Mensual por 12 meses</p>
                        <p>Cargo fijo normal: <s>$12.990</s></p>
                    </div>
                    <div class="row">
                        <button class="btn">Suscribirse Ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center mt-1">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>Juan Escamilla</p>
            <p>12.345.678-9</p>
            <p>+52 123 456 7890</p>
            <p>juanescamilla@gmail.com</p>
          </div>
          <div class="col">
            <div class="social-links">
              <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://youtube.com" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
